# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

#### First steps

In [1]:
import pandas as pd

In [2]:
data_1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
data_2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")
data_3 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")

In [3]:
df1 = data_1.copy()
df1.columns = df1.columns.str.lower().str.replace(" ","_")

df1.rename(columns={"st":"state"}, inplace=True)
df2 = data_2.copy()

df2.columns = df2.columns.str.lower().str.replace(" ","_")
df2.rename(columns={"st":"state"}, inplace=True)

df3 = data_3.copy()
df3.columns = df3.columns.str.lower().str.replace(" ","_")

df1.dropna(how="all", inplace=True)
df2.dropna(how="all", inplace=True)
df3.dropna(how="all", inplace=True)

In [4]:
df1.head(3)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247

In [5]:
df2.head(3)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount,policy_type,vehicle_class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car

In [6]:
df3.head(3)

,customer,state,customer_lifetime_value,education,gender,income,monthly_premium_auto,number_of_open_complaints,policy_type,total_claim_amount,vehicle_class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car

In [7]:
df1.shape

(1071, 11)

In [8]:
df2.shape

(996, 11)

In [9]:
df3.shape

(7070, 11)

#### Combine dataframes

In [10]:
ultimate_df = pd.concat([df2,df3,df1], axis=0, join="outer")

In [11]:
ultimate_df.shape

(9137, 11)

In [12]:
ultimate_df.sample(5)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount,policy_type,vehicle_class
1862,OD85990,Oregon,F,Bachelor,3964.151263,23474.0,102.0,0,489.600000,Corporate Auto,SUV
881,XC16387,Arizona,F,High School or Below,504041.24%,46072.0,64.0,1/0/00,25.934064,Personal Auto,Four-Door Car
2794,VS73599,Arizona,M,College,7019.177186,26806.0,63.0,0,302.400000,Personal Auto,Four-Door Car
1902,GV91160,Oregon,F,High School or Below,2886.451602,10312.0,78.0,0,486.278557,Personal Auto,Four-Door Car
2112,FG23952,Oregon,M,College,13283.86446,0.0,132.0,0,950.400000,Personal Auto,SUV

#### Cleaning invalid values

In [13]:
ultimate_df.isnull().sum()

customer                       0
state                          0
gender                       122
education                      0
customer_lifetime_value        7
income                         0
monthly_premium_auto           0
number_of_open_complaints      0
total_claim_amount             0
policy_type                    0
vehicle_class                  0
dtype: int64

In [14]:
maping = {"F":"Female", "M": "Male", "Femal":"Female", "female":"Female","Male":"Male","Female":"Female"}
ultimate_df["gender"] = ultimate_df["gender"].map(maping)
print(ultimate_df["gender"].value_counts())

gender
Female    4607
Male      4408
Name: count, dtype: int64

#### Formating data types

In [22]:
ultimate_df.isnull().sum()

customer                       0
state                          0
gender                       122
education                      0
customer_lifetime_value        0
income                         0
monthly_premium_auto           0
number_of_open_complaints      0
total_claim_amount             0
policy_type                    0
vehicle_class                  0
dtype: int64

In [20]:
ultimate_df["customer_lifetime_value"] = ultimate_df["customer_lifetime_value"].apply(lambda x: str(x).replace("%",""))

In [21]:
ultimate_df.sample(5)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount,policy_type,vehicle_class
4119,QX24179,Oregon,Male,Bachelor,5619.649515,41878.0,71.0,0,161.695519,Personal Auto,Four-Door Car
3997,RX96438,Washington,Female,High School or Below,2311.211287,24400.0,62.0,0,297.600000,Corporate Auto,Two-Door Car
667,NL85206,California,Female,College,2572.452634,72685.0,68.0,5,14.464783,Personal Auto,Four-Door Car
3399,YA10507,California,Male,High School or Below,2471.528431,95697.0,61.0,0,114.273025,Special Auto,Two-Door Car
5024,VW65573,California,Male,High School or Below,7630.346461,0.0,111.0,0,799.200000,Special Auto,SUV

In [23]:
ultimate_df["customer_lifetime_value"] = ultimate_df["customer_lifetime_value"].apply(lambda x : float(x))

In [24]:
ultimate_df.isnull().sum()

customer                       0
state                          0
gender                       122
education                      0
customer_lifetime_value        7
income                         0
monthly_premium_auto           0
number_of_open_complaints      0
total_claim_amount             0
policy_type                    0
vehicle_class                  0
dtype: int64

In [25]:
ultimate_df["customer_lifetime_value"].dtype

dtype('float64')

In [26]:
ultimate_df["number_of_open_complaints"].value_counts()

number_of_open_complaints
0         5629
1/0/00    1626
1          765
2          283
1/1/00     247
3          230
4          119
1/2/00      93
1/3/00      60
5           44
1/4/00      29
1/5/00      12
Name: count, dtype: int64

In [27]:
ultimate_df["number_of_open_complaints"].unique()

array(['1/0/00', '1/1/00', '1/3/00', '1/5/00', '1/2/00', '1/4/00', 0, 2,
       3, 1, 5, 4], dtype=object)

In [28]:
ultimate_df["number_of_open_complaints"] = ultimate_df["number_of_open_complaints"].apply(lambda x: x[2] if isinstance(x, str) else x)

In [49]:
ultimate_df["number_of_open_complaints"] = ultimate_df["number_of_open_complaints"].apply(lambda x: int(x))

In [50]:
ultimate_df["number_of_open_complaints"].value_counts()

number_of_open_complaints
0    7255
1    1012
2     376
3     290
4     148
5      56
Name: count, dtype: int64

#### Specific Null Values

In [51]:
ultimate_df.isnull().sum()

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
total_claim_amount           0
policy_type                  0
vehicle_class                0
dtype: int64

In [52]:
ultimate_df["gender"].mode() 
ultimate_df["gender"].fillna("Female",inplace=True)
ultimate_df["gender"].value_counts()

gender
Female    4729
Male      4408
Name: count, dtype: int64

In [53]:
ultimate_df["gender"].isnull().sum()

0

In [54]:
ultimate_df["customer_lifetime_value"].mean().round(2)

182654.34

In [55]:
ultimate_df["customer_lifetime_value"].fillna(182654.34, inplace=True)

In [56]:
ultimate_df["customer_lifetime_value"].isnull().sum()

0

In [57]:
ultimate_df["number_of_open_complaints"].isnull().sum()

0

In [58]:
ultimate_df["number_of_open_complaints"].sample(10)

630     1
4311    0
2574    0
356     3
5651    0
6667    0
4447    0
3105    0
866     0
944     0
Name: number_of_open_complaints, dtype: int64

In [59]:
ultimate_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9137 entries, 0 to 1070
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   state                      9137 non-null   object
 2   gender                     9137 non-null   object
 3   education                  9137 non-null   object
 4   customer_lifetime_value    9137 non-null   float64
 5   income                     9137 non-null   float64
 6   monthly_premium_auto       9137 non-null   float64
 7   number_of_open_complaints  9137 non-null   int64
 8   total_claim_amount         9137 non-null   float64
 9   policy_type                9137 non-null   object
 10  vehicle_class              9137 non-null   object
dtypes: float64(4), int64(1), object(6)
memory usage: 856.6+ KB

In [60]:
ultimate_df["number_of_open_complaints"].mean().round(1)

0.4

In [61]:
ultimate_df["number_of_open_complaints"].fillna(0.4, inplace=True)

In [62]:
ultimate_df["number_of_open_complaints"].isnull().sum()

0

In [63]:
ultimate_df.isna().sum()

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
total_claim_amount           0
policy_type                  0
vehicle_class                0
dtype: int64

#### Duplicates

In [64]:
ultimate_df.duplicated().sum()

3

In [65]:
ultimate_df.drop_duplicates(inplace=True)

In [66]:
ultimate_df.duplicated().sum()

0

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [67]:
marketing_og = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")

In [68]:
marketing = marketing_og.copy()

In [69]:
marketing.columns = marketing.columns.str.lower().str.replace(" ","_")

In [70]:
marketing.dropna(how="all", inplace=True)

In [71]:
marketing.head(5)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

#### Cleaning and formating

In [72]:
marketing.shape

(10910, 27)

In [73]:
marketing["unnamed:_0"].head(15)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
Name: unnamed:_0, dtype: int64

In [74]:
marketing.drop("unnamed:_0", axis=1, inplace=True)

In [75]:
marketing.sample(1)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
2907,QS36363,Arizona,12655.52878,No,Premium,High School or Below,2011-02-01,Employed,F,26149,...,7,Personal Auto,Personal L3,Offer4,Web,753.6,Four-Door Car,Medsize,A,2

In [76]:
marketing["gender"].value_counts()

gender
F    5573
M    5337
Name: count, dtype: int64

In [77]:
marketing.isnull().sum()

customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

In [78]:
marketing.duplicated().sum()

443

In [79]:
marketing.drop_duplicates(inplace=True)

In [80]:
marketing.duplicated().sum()

0

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [81]:
marketing["sales_channel"].value_counts()

sales_channel
Agent          3964
Branch         2910
Call Center    2046
Web            1547
Name: count, dtype: int64

In [82]:
marketing["total_claim_amount"].values

array([ 292.8     ,  744.924331,  480.      , ...,  381.306996,
        618.288849, 1021.719397])

In [83]:
pivot_sales = pd.pivot_table(marketing, values="total_claim_amount", index="sales_channel").round(2)

In [85]:
pivot_sales.reset_index()

  sales_channel  total_claim_amount
0         Agent              441.20
1        Branch              432.76
2   Call Center              434.55
3           Web              437.40

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [86]:
marketing["customer_lifetime_value"].values

array([ 4809.21696 ,  2228.525238, 14947.9173  , ..., 23893.3041  ,
       11971.97765 ,  6857.519928])

In [87]:
marketing["gender"].value_counts()

gender
F    5347
M    5120
Name: count, dtype: int64

In [88]:
marketing["education"].value_counts()

education
Bachelor                3127
College                 3059
High School or Below    3026
Master                   866
Doctor                   389
Name: count, dtype: int64

In [89]:
pivot_clv = pd.pivot_table(marketing, values="customer_lifetime_value", index="gender", columns="education").stack()

In [90]:
pivot_clv.reset_index()

  gender             education            0
0      F              Bachelor  7913.452862
1      F               College  7755.029922
2      F                Doctor  7369.591923
3      F  High School or Below  8616.664839
4      F                Master  8226.362324
5      M              Bachelor  7713.303475
6      M               College  8086.291367
7      M                Doctor  7414.859039
8      M  High School or Below  8162.364059
9      M                Master  8154.605652

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here